<ion-app>
  <ion-split-pane when="lg" contentId="content1">
    <ion-menu (ionDidClose)="closedMenu()" (ionDidOpen)="openedMenu()" side="start" menuId="first" contentId="content1">

      <ion-header>
        <ion-toolbar>
          <ion-title>
            <p class="user-name">Hola,<span><strong>
                   {{usuario()}}
                </strong></span></p>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content *ngIf="isSettingsOpen; else configuracion">
        <div>
          <ion-list class="ion-no-padding" *ngFor="let pages of navigate" [class.active-menu]="activePath === pages.url"
            lines="none">
            <ion-menu-toggle menu="first" auto-hide="false">
              <ion-item [routerLink]="pages.url" routerDirection="forward">
                <ion-icon class="white-icon" [name]="pages.icon" slot="start"></ion-icon>
                {{pages.title}}
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list style="margin-top: 5%;">
            <ion-menu-toggle menu="first" autoHide="false">
              <ion-item (click)="logout()">
                <ion-icon class="white-icon" name="exit-outline" slot="start"></ion-icon>
                SALIR
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

        </div>
      </ion-content>     
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
