<ion-app>
  <ion-split-pane class="limit-size" when="lg" contentId="content1">
    <ion-menu (ionDidClose)="closedMenu()" (ionDidOpen)="openedMenu()" side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <ion-list class="ion-no-padding" lines="none">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <p class="user-name">Hola,<span><strong><!--  {{usuario()}} --></strong></span></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="isSettingsOpen; else configuracion">
        <div>
          <ion-list class="ion-no-padding" *ngFor="let pages of navigate" [class.active-menu]="activePath === pages.url"
            lines="none">
            <ion-menu-toggle menu="first" auto-hide="false">
              <ion-item [routerLink]="pages.url" routerDirection="forward">
                <ion-icon class="white-icon" [name]="pages.icon" slot="start"></ion-icon>
                {{pages.title}}
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
         
          <ion-list style="margin-top: 5%;">
            <ion-menu-toggle menu="first" autoHide="false">
              <ion-item (click)="logout()">
                <ion-icon class="white-icon" name="exit-outline" slot="start"></ion-icon>
                SALIR
              </ion-item>
            </ion-menu-toggle>
            <ion-item lines="none" (click)="openSettings()">
              <ion-icon class="white-icon" name="settings-outline" slot="start">
              </ion-icon>
              CONFIGURACIÓN
            </ion-item>
          </ion-list>

        </div>
      </ion-content>

     

      <ng-template #configuracion>
        <ion-content>

          <ion-list>

            <ion-item lines="inset" (click)="openSettings()">
              <ion-icon expand="full" fill="clear" color="light" class="white-icon" slot="start"
                name="caret-back-outline">
              </ion-icon>
              VOLVER
            </ion-item>

            <ion-item (click)="doOption(0)" lines="inset">
              <ion-icon expand="full" fill="clear" color="light" class="white-icon" slot="start" name="nuclear-sharp">
              </ion-icon>
              BORRAR DATOS CACHÉ
            </ion-item>

            <ion-item (click)="doOption(1)" lines="inset">
              <ion-icon expand="full" fill="clear" color="light" class="white-icon" slot="start" name="warning-outline">
              </ion-icon>
              INFORMAR DE UN PROBLEMA
            </ion-item>

            <ion-item (click)="doOption(2)" lines="inset">
              <ion-icon expand="full" fill="clear" color="light" class="white-icon" slot="start" name="mail-outline">
              </ion-icon>
              CONTÁCTANOS
            </ion-item>

          </ion-list>

        </ion-content>
      </ng-template>
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet>
  </ion-split-pane><!-- 
  <ion-header class="red" *ngIf="isDisconnectedFromNet">
    <ion-toolbar>
      NO DISPONES DE CONEXIÓN A INTERNET
    </ion-toolbar>
  </ion-header> -->
</ion-app>