<ion-content>
  <div id="container">
    <div id="logincontainer">
    <ion-card>
      <ion-card-header>
        <ion-img class="logo" type="image/png" src="assets/img/indice.jpg"></ion-img>

      </ion-card-header>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-input formControlName="nick" class="forminput" placeholder="Nombre de usuario" required></ion-input>
        <ion-input formControlName="email" type="email" class="forminput" placeholder="Correo electrónico" required></ion-input>
        <ion-input formControlName="password" type="password" class="forminput" placeholder="Contraseña" required></ion-input>

        <ion-button type="submit" [disabled]="registerForm.invalid || isRegistering" class="formbutton" expand="block">Regístrate</ion-button>
      </form>        
        <ion-item>
          <p>¿Tienes cuenta? Ve a <ion-router-link [routerLink]="['/login']">Login</ion-router-link>
          </p>
        </ion-item>
    </ion-card>
  </div>
  </div>
</ion-content>