<ion-content>


  <div class="file-input-container">
    <label>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple />
      Add Files
    </label>
  </div>
  <h2>Files: {{ uploader?.queue?.length }}</h2>


  <ion-input id="titleInput" placeholder="Titulo" name="title"></ion-input>
  <ion-input id="descriptionInput" placeholder="Descripcion" name="description"></ion-input>

  <ion-item *ngFor="let item of uploader.queue">
    <ion-label>
      {{ item?.file?.name }}
    </ion-label>
  </ion-item>

  <ion-button (click)="upload()">Enviar</ion-button>


</ion-content>